*{
    box-sizing: border-box;
    user-select: none;
}
body{
    background-image: url(image.jpg);
    background-color: #414141;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.name{
    font-size: 90px;
    font-family: cursive;
    color: #00ffae;
    transition: 1s;
}
.name:hover{
    font-size: 95px;
    text-shadow:
    -2px -2px 0 green,
    2px -2px 0 green,
    -2px  2px 0 green,
    2px  2px 0 green;
}
.chosingtext{
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    transition: 1s;
    text-shadow: 0 0 0 rgba(0, 0, 5, 1);
}
.chosingtext:hover{
    font-size: 85px;
    text-shadow:
    -2px -2px 0 #FF3DEC,
    2px -2px 0 #FF3DEC,
    -2px  2px 0 #FF3DEC,
    2px  2px 0 #FF3DEC;
    
}
.chosingbox{
    display: flex;
    justify-content: center;
}
.para1{
    font-size: 150px;
    border: 2px solid #00ffae;
    color: #00ffae;
    font-family: cursive;
    margin:0px 100px 0px 100px;
    padding: 0px 75px 15px 75px;
    border-radius: 75px;
    background-color: rgb(0, 255, 0,0.1);
    transition: 1s;
}
.para2{
    font-size: 150px;
    border: 2px solid rgb(255, 61, 236);
    color: #FF3DEC;
    font-family: cursive;
    margin:0px 100px 0px 100px;
    padding: 0px 75px 15px 75px;
    border-radius: 75px;
    background-color: rgb(255, 61, 236,0.1);
    transition: 0.5s;
}
.para1:hover{
    padding: 0px 75px 15px 75px;
    font-size: 125px;
}
.para2:hover{
    padding: 0px 75px 15px 75px;
    font-size: 125px;
}
.para1:active{
    background-color: rgb(0, 255, 0);
    color: #414141;
}
.para2:active{
    background-color: red;
    color: #414141;
}
.outerBox{
    border: 3px solid white;
    border-radius: 30px;
    width: 500px;
    height: 500px;
    background-color: #d900ff;
    transition: 1s;
    position: relative;
    bottom: 450px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-content: center; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    
}
.outerBox:hover{
    width: 510px;
    height: 510px;
    border: 3px solid #d900ff;
}
.innerBox{
    padding: none;
    margin: none;
    width: 30%;
    height: 30%;
    background-color: #414141;
    margin: 8px;
    border-radius: 20px;
    position: static;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}
.innerBox:hover{
    width: 29%;
    height: 29%;
    border: 3px solid white;
}

.hidden{
    
    transform: translateX(-1050px);
    transition: transform 0.4s ease;
    /* transition: relative 0.4s ease; */
}
.hidden2{
    opacity: 0;
    transition: opacity 0.4s ease;
}
.zerotick{
    background-color: #4e7468;
}
.crosstick{
    background-color: #84427d;
}
.oxox1{
    font-size: 130px;
    font-family: cursive;
    color: #00ffae;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oxox2{
    font-size: 130px;
    font-family: cursive;
    color: #FF3DEC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result{
    color: white;
    font-size: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 5px 10px 5px rgb(0, 0, 0);
    transition: 1s;
    position: absolute;
    top: 0px;
    height: 1300px;
    width: 100%;
    
}
.hidden3{
    display: none;
}
.result:hover{
    font-size: 320px;
    color: #bb00ff;
    background-color: #313131; 
}
.playagain{
    background-color: rgb(217, 0, 255,0.2);
    font-size: 60px;
    color: #d900ff;
    padding: 15px;
    border: 3px solid #d900ff;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translateY(150px);
    transition: 0.75s;
    transition: color 0.1s;
}
.playagain:hover{
    font-size: 58px;
    padding: 14px;
    border: 2px solid #d900ff;
}
.playagain:active{
    color: #414141;
    background-color: #d900ff;
}